mjx-utext {
    /* corrects a small error with font size for upgreek package */
    font-size: 1.09em !important;
    position: relative !important;
    top: .035rem !important;
}

.arithmatex {
    overflow-y: hidden !important;
}

mjx-container {
    overflow-y: hidden !important;
}