# ------
# Common
# ------
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# -----------------------
# Local Development Tools
# -----------------------
/node_modules
/npm-debug.log
src/data/*
# site/
mkdocs/

# stuff from the origin griffin chure thesis
old/ 
site_deploy/

# ---------------
# Compiled assets
# ---------------
.sass-cache


src/pandoc-crossref
src/pandoc-crossref.1

ignore/
