# ------
# Common
# ------
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
test.sh

# -----------------------
# Local Development Tools
# -----------------------
/node_modules
/npm-debug.log
src/data/*
src/frontmatter/other/*
# site/
mkdocs/
# pandoc_site/

# src/chapter_04/dist/.git
# src/chapter_04/dist/

src/chatper_07/old/



# stuff from the origin griffin chure thesis
old/ 
site_deploy/

# no sense in having two copies of these figures
# accutally it's easier to have two copies
# src/chapter_03/figs_03/ 

# ---------------
# Compiled assets
# ---------------
.sass-cache


src/pandoc-crossref
src/pandoc-crossref.1

ignore/


src/chapter_07/section_06_aph_hw_answers.md
pandoc_site/chapter_07/section_06_aph_hw_answers.md