mjx-utext {
    /* corrects a small error with font size for upgreek package */
    font-size: 1.09em !important;
    position: relative !important;
    top: .035rem !important;
}

.arithmatex {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

mjx-container {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}



h1 {
    display: none !important;
}



:root,
[data-md-color-scheme="slate"] {
    --md-default-bg-color: #24242d;
    --md-primary-fg-color--light: #ffd06f;
    --md-primary-fg-color--dark: #db9d21;
    --md-accent-fg-color: #737aca;
    --pg-light-border: rgb(47, 47, 47);
    --pg-hero-color: #ffd06f;
    --pg-purple: #af94de;
    --pg-red: #ff6c6a;
    --pg-orange: #e97b5a;
    --pg-teal: #b6cdc3;
    --pg-brown: #b6988c;
    --pg-blue: #9ab0f7;
    --pg-green: #72cd75;
    --pg-blue-gray: #9ab2bc;
    --md-footer-bg-color--dark: var(--md-default-bg-color);
}

:root,
[data-md-color-scheme="default"] {
    --md-default-bg-color: #f7f7fd;
    --md-primary-fg-color--light: #ffd06f;
    --md-primary-fg-color--dark: #db9d21;
    --md-accent-fg-color: #4e30e6;
    --pg-light-border: rgb(229, 231, 235);
    --pg-hero-color: rgb(45, 45, 45);
    --pg-purple: #603aa0;
    --pg-red: #872b2a;
    --pg-orange: #ac2f09;
    --pg-teal: #9ebebb;
    --pg-brown: #8d6e62;
    --pg-blue: #2c3d7d;
    --pg-green: #2e7e31;
    --pg-blue-gray: #546d78;
}

.blue {
    color: var(--pg-blue);
}

.red {
    color: var(--pg-red);
}

.dark_img {
    /* max-width: 80% !important;
    max-height: 80% !important; */
    filter: sepia(40%) invert(.89) saturate(1.9);
    display: block;
    /* filter: invert(1); */
    /* filter: hue-rotate(240deg);
    filter: invert(1); */
}

.light_img {
    /* max-width: 100% !important;
    max-height: 100% !important; */
    display: block;
    /* filter: invert(1); */
}